<center><h1><b><font size="5">Pandas DataFrames: Data Selection - Indexing Data with .iloc[]</font></b></h1></center>

#### Import pandas

In [1]:
import pandas as pd

#### Load the data

In [2]:
data = pd.read_csv('./data/Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [ ]:
lending_co_data[1] # KeyError[1]

In [ ]:
lending_co_data[0,1] # KeyError(0, 1)

In [5]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

#### iloc[]

In [6]:
lending_co_data.iloc[1]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [7]:
#indexing starts from 0!
lending_co_data.iloc[1, 3]

'Location 6'

In [8]:
# .iloc[] has been programmed to deliver the desired portion of the dataset whether we provide one or two lcoation specifiers
lending_co_data.iloc[1,:]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [9]:
lending_co_data.iloc[:, 3]

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [10]:
type(lending_co_data.iloc[1, 3])

str

In [11]:
type(lending_co_data.iloc[1, :])

pandas.core.series.Series

In [12]:
type(lending_co_data.iloc[:, 3])

pandas.core.series.Series

In [13]:
lending_co_data.iloc[[1, 3], :]

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [15]:
lending_co_data.iloc[:, [1, 3]]

          Product     Location
LoanID
1       Product B   Location 3
2       Product D   Location 6
3       Product B   Location 8
4       Product A  Location 26
5       Product B  Location 34
...           ...          ...
1039    Product B  Location 73
1040    Product A  Location 82
1041    Product A  Location 11
1042    Product B  Location 26
1043    Product A  Location 94

[1043 rows x 2 columns]